*

!.gitignore

!dotfiles/
!dotfiles/**/
!hosts/
!hosts/**/
!lib/
!lib/**/
!modules/
!modules/**/
!options/
!options/**/
!packages/
!packages/**/
!secrets/
!secrets/**/
!tailscale/

!AGENTS.md
!LICENSE.md
!README.md
!flake.lock
!flake.nix
!rebuild.nu
!.watchmanconfig

!*.nix
!*.nu
!*.age

!hosts/manara/facter.json
!hosts/policy.hujson

!dotfiles/config/FreeCAD/v1-1/system.cfg
!dotfiles/config/FreeCAD/v1-1/user.cfg
!dotfiles/config/atuin/config.toml
!dotfiles/config/ghostty/config
!dotfiles/config/hammerspoon/init.lua
!dotfiles/config/paneru/init.lua
!dotfiles/config/helix/languages.toml
!dotfiles/config/helix/themes/theme.toml
!dotfiles/config/karabiner/karabiner.json
!dotfiles/config/sketchybar/plugins/icon_map.data
!dotfiles/config/sketchybar/sketchybarrc
!dotfiles/config/tmux/scripts/sessionizer
!dotfiles/config/tmux/tmux.conf
!dotfiles/config/zed/keymap.json
!dotfiles/config/zed/settings.json
!dotfiles/home/.gitconfig
!dotfiles/home/.gitignore_global
!packages/fast-workspace-switch/fast-workspace-switch.swift

# AGENT SKILLS
!.agents/
!.agents/skills/
!.agents/skills/*/
!.agents/skills/*/SKILL.md
