*

!.gitignore

!dotfiles/
!dotfiles/**/
!hosts/
!hosts/**/
!modules/
!modules/**/
!options/
!options/**/
!packages/
!packages/**/
!secrets/
!secrets/**/

!README.md
!flake.lock
!rebuild.nu

!*.age
!*.cfg
!*.conf
!*.data
!*.gif
!*.gitconfig
!*.gitignore_global
!*.glsl
!*.json
!*.keymap
!*.lua
!*.md
!*.nix
!*.nu
!*.png
!*.sh
!*.swift
!*.toml
!*.txt
!*.yaml
!*.yml

!dotfiles/config/ghostty/config
!dotfiles/config/sketchybar/sketchybarrc
!dotfiles/config/tmux/scripts/sessionizer
